.label {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text-label-color);
  font-family: "Montserrat", sans-serif;

  span {
    text-transform: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
}

.label-error {
  color: var(--red-color);
}
