.loading-bar-container {
  .loading-text {
    display: flex;
    justify-content: space-between;

    span {
      color: var(--text-color);
    }

    span:first-child:after {
      content: ".";
      animation: ellipsis 1.25s infinite;

      @keyframes ellipsis {
        0% {
          content: ".";
        }
        33% {
          content: "..";
        }
        66% {
          content: "...";
        }
      }
    }
  }

  .loading-bar {
    width: 100%;
    height: calc(var(--button-height) / 1.5);
    background-color: var(--container-color);
    border-radius: var(--border-radius);

    .indicator {
      height: 100%;
      width: 0%;
      background-color: var(--primary-color);
      border-radius: var(--border-radius);
    }
  }
}
