$modal-footer-height: calc(var(--button-height) + 2 * var(--spacing-double));

.modal-overlay {
  position: absolute;
  inset: 0;
  z-index: var(--overlay-z-index);
  background-color: var(--overlay-black-5);
  display: grid;
  place-items: center;
  pointer-events: none;
}

.modal-overlay-visible {
  pointer-events: visible;
}

.modal {
  position: relative;
  width: 550px;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  z-index: var(--modal-z-index);
  position: relative;

  .modal-close-button {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    top: var(--spacing);
    right: var(--spacing);
    border-radius: 50%;
    border: 2px solid var(--text-secondary-color);
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    display: grid;
    place-content: center;

    span {
      cursor: pointer;
    }

    &:focus-visible {
      box-shadow: 0 0 0 4px var(--focus-color);
    }

    &:hover {
      background-color: var(--overlay-white-1);
    }
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .modal-content {
    width: 100%;
    height: calc(100% - #{$modal-footer-height});
  }

  .modal-content-padding {
    padding: var(--spacing-double);
  }

  .modal-footer {
    height: $modal-footer-height;
    background-color: var(--title-bar-color);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: var(--spacing-double);
    display: flex;
    flex-direction: row-reverse;
    gap: var(--spacing);
  }
}

.modal-large {
  width: calc(100vw - (var(--spacing-triple) * 10));
  height: calc(100vh - (var(--spacing-triple) * 10));
}
