.context-menu {
  position: absolute;
  background-color: var(--menu-color);
  width: 200px;
  position: absolute;
  margin: 0;
  padding: var(--spacing-half) 0;
  z-index: var(--menu-pane-z-index);
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-small);

  .menu-item {
    list-style: none;
    margin: 0 var(--spacing-half);
    padding: 0 var(--spacing);
    width: calc(100% - var(--spacing));
    height: 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    svg {
      cursor: pointer;
    }
  }

  .menu-item:hover {
    background-color: var(--primary-color);
  }
}
