.info-bar {
  position: absolute;
  top: calc(100vh - var(--title-bar-height));
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding-left: var(--spacing);
  align-items: center;
  z-index: var(--info-bar-z-index);
}
