.title-bar {
  -webkit-app-region: drag;
  height: 30px;

  .window-control-btns {
    -webkit-app-region: no-drag;

    .window-control-btn {
      width: 50px;
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      padding: 0;

      img {
        height: var(--title-bar-height);
      }
    }

    .window-control-btn:hover {
      background-color: var(--hover-overlay-2);
    }

    .window-control-btn:last-child:hover {
      background-color: #ff0000;
    }
  }

  .title-bar-left {
    height: 31px;
  }

  .menus {
    height: 100%;
    -webkit-app-region: no-drag;

    .menu-pane {
      height: 100%;

      .menu-button {
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0 10px;
        cursor: default;
        display: grid;
        place-items: center;
        user-select: none;
      }

      .menu-button:hover {
        background-color: var(--hover-overlay-2);
      }

      .menu-list {
        width: 250px;
        position: absolute;
        top: var(--title-bar-height);
        margin: 0;
        padding: var(--spacing-third) 0;
        z-index: var(--menu-pane-z-index);

        .menu-item {
          list-style: none;
          margin: 0;
          padding: 0 var(--spacing-double);
          width: 100%;
          height: 26px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: default;

          .accelerator {
            color: var(--text-secondary-color);
          }
        }

        .menu-item:hover:not(.menu-item-disabled) {
          color: white;
          background-color: var(--hover-overlay-2);
        }

        .menu-item-disabled {
          opacity: 0.3;
        }
      }
    }
  }
}

.overlay {
  position: absolute;
  inset: 0;
  top: var(--title-bar-height);
  z-index: var(--overlay-z-index);
  background-color: var(--overlay-black-5);
}
