.button {
  height: var(--button-height);
  border-radius: var(--border-radius);
  outline: none;
  border: none;
  color: #d2d6db;
  background-color: transparent;
  cursor: pointer;
  padding: 0 var(--spacing-double);
  transition: background-color 0.2s ease-in-out;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  svg {
    margin-right: var(--spacing-third);
    pointer-events: none;
  }
}

.button:disabled:not(.button-transparent)::after {
  content: "";
  position: absolute;
  inset: 0;
  cursor: not-allowed;
  border-radius: var(--border-radius);
  background-color: var(--overlay-dark-5);
}

.button.button-transparent:disabled {
  opacity: 0.3;
  cursor: not-allowed;

  &:hover {
    background-color: transparent;
  }
}

.button:focus-visible {
  box-shadow: 0 0 0 4px var(--focus-color);
}

.button-primary {
  background-color: var(--primary-color);
}

.button-primary:hover {
  background-color: var(--primary-color-hover);
}

.button-success {
  background-color: var(--success-color);
}

.button-success:hover {
  background-color: var(--success-color-hover);
}

.button-red {
  background-color: var(--red-color);
}

.button-red:hover {
  background-color: var(--red-color-hover);
}

.button-transparent {
  background-color: transparent;
  transition: background-color 0s;
}

.button-transparent:hover,
.button-transparent.button-selected {
  background-color: var(--overlay-white-1);
}

.button-text-left {
  justify-content: flex-start;
}

.button-square {
  width: var(--button-height);
  padding: 0;
  display: grid;
  place-items: center;

  svg {
    margin: 0;
    pointer-events: none;
  }
}
