.dropdown-button {
  position: relative;

  .button {
    width: 100%;
  }

  &:focus-within {
    .dropdown-button-list {
      visibility: visible;
    }
  }

  .dropdown-button-list {
    visibility: hidden;
    width: 100%;
    margin: 0;
    position: absolute;
    top: calc(var(--button-height) + var(--spacing-half));
    border-radius: var(--border-radius);
    background-color: black;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;

    button {
      padding: 0 var(--spacing);
      cursor: pointer;
      border-radius: var(--border-radius);
      outline: none;
      background-color: transparent;
      text-align: left;
      border: none;
      width: 100%;

      &:hover {
        background-color: var(--overlay-white-1);
      }

      &:focus-visible {
        box-shadow: 0 0 0 4px var(--focus-color);
      }
    }
  }
}
