.dropdown-button {
  position: relative;
  display: flex;

  .default-button {
    flex-grow: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus-visible + .more-button {
      box-shadow: inset 4px 0 0 0 var(--focus-color);
    }
  }

  .more-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .dropdown-list {
    position: absolute;
    margin: 0;
    padding: var(--spacing-half) 0;
    top: calc(var(--button-height) + var(--spacing-half));
    left: 0;
    right: 0;
    background-color: var(--menu-color);
    list-style: none;

    li {
      padding: 0 var(--spacing-half);
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: var(--overlay-white-1);
      }

      &:focus-visible {
        box-shadow: 0 0 0 4px var(--focus-color);
      }
    }
  }
}
