.interaction-options-modal {
  .options-content {
    height: 500px;

    .options-sidebar {
      height: 100%;
      width: 180px;

      .options-list {
        flex-grow: 1;
      }
    }

    .selected-option {
      height: 100%;
      flex-grow: 1;

      .option-type {
        flex-grow: 1;
      }

      .option-required {
        margin-bottom: 7px;
      }

      .option-choices {
        flex-grow: 1;
        margin-bottom: 24.8px;

        .choice-list {
          height: 237px;

          .choice-input {
            flex-grow: 1;
          }
        }
      }
    }
  }
}
