@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-400.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-500.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-600.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-700.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-400.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-500.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-600.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-700.woff") format("woff");
  font-weight: 700;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

#root {
  width: 100%;
  height: 100%;

  > main {
    height: calc(100% - var(--title-bar-height));

    .main-content {
      padding: var(--spacing-double) 100px;

      &.in-editor {
        padding: 0 100px var(--spacing-double) 100px;
      }
    }
  }
}

.options-tabs {
  height: calc(100vh - 400px);
}
