// Non-specific variables
:root {
  --primary-color: hsl(231, 48%, 48%);
  --primary-hover-color: hsl(231, 48%, 40%);

  --success-color: hsl(153, 56%, 34%);
  --success-hover-color: hsl(153, 56%, 26%);

  --red-color: hsl(0, 85%, 61%);
  --red-hover-color: hsl(0, 59%, 51%);

  --warning-color: hsla(38, 95%, 54%, 0.1);
  --warning-border-color: hsla(38, 95%, 54%);

  --danger-color: hsla(359, 82%, 59%, 0.1);
  --danger-border-color: hsla(359, 47%, 43%);

  --focus-color: hsl(212, 97%, 43%);
}

// Dark theme
body.theme-dark {
  --background-color: hsl(230, 8%, 15%);
  --title-bar-color: hsl(230, 8%, 10%);
  --container-color: hsl(230, 8%, 12%);
  --container-border-color: hsl(230, 12%, 10%);

  --menu-color: hsl(0, 0%, 5%);

  --radio-button-color: hsl(225, 12%, 13%);
  --radio-button-hover-color: hsl(225, 11%, 21%);
  --radio-button-selected-color: hsl(228, 10%, 10%);

  --text-color: hsl(213, 11%, 84%);
  --text-secondary-color: hsl(210, 8%, 62%);
  --text-label-color: hsl(210, 5%, 57%);

  --overlay-white-1: rgba(255, 255, 255, 0.1);
  --overlay-white-2: rgba(255, 255, 255, 0.2);
  --overlay-black-3: rgba(0, 0, 0, 0.3);
  --overlay-black-5: rgba(0, 0, 0, 0.5);
}
