// Non-specific variables
:root {
  --primary-color: hsl(231, 48%, 48%);
  --primary-color-hover: hsl(231, 48%, 40%);

  --focus-color: hsl(212, 97%, 43%);
}

// Light Theme
:root {
}

// Dark theme
body.theme-dark {
  --background-color: hsl(230, 8%, 15%);
  --title-bar-color: hsl(230, 8%, 10%);
  --container-color: hsl(230, 8%, 12%);
  --container-border-color: hsl(230, 12%, 10%);

  --radio-button-color: hsl(225, 12%, 13%);
  --radio-button-hover-color: hsl(225, 11%, 21%);
  --radio-button-selected-color: hsl(228, 10%, 10%);

  --text-color: hsl(213, 11%, 84%);
  --text-secondary-color: hsl(210, 8%, 62%);
  --text-label-color: hsl(210, 5%, 57%);

  --hover-overlay-1: rgba(255, 255, 255, 0.1);
  --hover-overlay-2: rgba(255, 255, 255, 0.2);
  --overlay-color: rgba(0, 0, 0, 0.5);
}
