// All variables which are not theme specific are in this file.

:root {
  --font-size: 15px;
  --font-size-small: 14px;

  --border-radius: 4px;

  --title-bar-height: 28px;
  --button-height: 30px;
  --sidebar-width: clamp(230px, 25%, 270px);

  --overlay-z-index: 10;
  --menu-pane-z-index: 20;
  --modal-z-index: 15;

  --spacing: 10px;
  --spacing-double: calc(var(--spacing) * 2);
  --spacing-triple: calc(var(--spacing) * 3);
  --spacing-quad: calc(var(--spacing) * 4);
  --spacing-quint: calc(var(--spacing) * 5);
  --spacing-half: calc(var(--spacing) / 2);
  --spacing-third: calc(var(--spacing) / 3);
}
